.header {
    position: absolute;
    width: 100%;
    z-index: 1002;
}

.header .inner {
    position: relative;

    max-width: 1410px;
    margin: 0 auto;
    height: 130px;

    display: flex;
    align-items: center;
}

.header .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .inner .gnb>ul {
    display: flex;
    gap: 30px;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.header .inner .gnb>ul>li {
    font-size: 15px;
    line-height: 16px;
    color: #fff;
}

.header .inner .serch_icon {
    margin-right: auto;
}

.header .inner .utils {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.mopen {
    display: none;
}


@media (max-width:1440px) {
    .header {
        position: absolute;
        width: 100%;
        z-index: 1002;
    }

    .header .inner {
        position: relative;

        max-width: 1410px;
        margin: 0 auto;
        height: 130px;

        display: flex;
        align-items: center;

        /* r */
        margin: 0 24px;
    }

    .header .inner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header .inner .gnb>ul {
        display: flex;
        gap: 30px;

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
    }

    .header .inner .gnb>ul>li {
        font-size: 15px;
        line-height: 16px;
        color: #fff;
    }

    .header .inner .serch_icon {
        margin-right: auto;
    }

    .header .inner .utils {
        margin-left: auto;
        display: flex;
        gap: 30px;
    }
}

@media (max-width:1200px) {
    .header {
        position: absolute;
        width: 100%;
        z-index: 1002;
    }

    .header .inner {
        position: relative;

        max-width: 1410px;
        margin: 0 auto;
        height: 130px;

        display: flex;
        align-items: center;

        /* r */
        margin: 0 24px;
    }

    .header .inner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header .inner .gnb>ul {
        display: flex;
        gap: 30px;

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);

        /* r */
        gap: 24px;
    }

    .header .inner .gnb>ul>li {
        font-size: 15px;
        line-height: 16px;
        color: #fff;
    }

    .header .inner .serch_icon {
        margin-right: auto;
    }

    .header .inner .utils {
        margin-left: auto;
        display: flex;
        gap: 30px;
    }
}

@media (max-width:1024px) {
    .header {
        position: absolute;
        width: 100%;
        z-index: 1002;

        /* r */
        position: fixed;
        transition: 0.2s;
    }

    /* r */
    .header.on {
        background: #57696E;
        transition: 0.2s;
    }

    .header .inner {
        position: relative;

        max-width: 1410px;
        margin: 0 auto;
        height: 130px;

        display: flex;
        align-items: center;

        /* r */
        margin: 0 24px;
        transition: 0.2s;
    }

    .header.on .inner {
        height: 108px;
        transition: 0.2s;
    }

    .header .inner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* r */
    .header .inner .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        transform: rotate(0);
        width: 100%;
        height: 100vh;
        padding: 300px 80px;
        background: rgba(87, 105, 110, 0.5);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        transition: 0.5s;
    }

    .header .inner .gnb.on {
        left: 0;
        background: rgba(87, 105, 110, 0.5);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .header .inner .gnb>ul {
        display: flex;
        gap: 30px;

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);

        /* r */
        flex-direction: column;
        gap: 16px;
        position: static;
        left: 0;
        bottom: 0;
        transform: translate(0, 0);
    }

    .header .inner .gnb>ul>li {
        font-size: 15px;
        line-height: 16px;
        color: #fff;
        /* r */
        position: relative;
        font-size: 16px;
        line-height: 40px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    }

    .header .inner .gnb>ul>li:nth-child(1)::after {
        content: "sunglasses";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(2)::after {
        content: "glasses";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(3)::after {
        content: "collaboration";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(4)::after {
        content: "style";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(5)::after {
        content: "brand-issue";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(6)::after {
        content: "store-view";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    /* r */
    .header .inner .gnb>ul>li>a {
        display: inline-block;
        width: 100%;
    }

    .header .inner .serch_icon {
        margin-right: auto;

        /* r */
        display: none;
    }

    .header .inner .utils {
        margin-left: auto;
        display: flex;
        gap: 30px;
    }

    /* r */
    .mopen {
        display: block;
        position: fixed;
        top: 49px;
        font-size: 0;
        left: 20px;
        width: 32px;
        height: 32px;
        z-index: 9999;
        cursor: pointer;
        transition: 0.2s;
    }

    .header.on .mopen {
        top: 38px;
        transition: 0.2s;
    }

    .mopen button::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
    }

    .mopen.on button::before {
        display: none
    }

    .mopen button::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
    }

    .mopen.on button::after {
        display: none
    }

    .mopen button span::before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
        transition: 0.2s;
    }

    .mopen.on button span::before {
        transform: rotate(45deg);
    }

    .mopen button span::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
        transition: 0.2s;
    }

    .mopen.on button span::after {
        transform: rotate(135deg);
    }
}

@media (max-width:500px) {
    .header {
        position: absolute;
        width: 100%;
        z-index: 1002;

        /* r */
        position: fixed;
        transition: 0.2s;
    }

    /* r */
    .header.on {
        background: #57696E;
        transition: 0.2s;
    }

    .header .inner {
        position: relative;

        max-width: 1410px;
        margin: 0 auto;
        height: 130px;

        display: flex;
        align-items: center;

        /* r */
        margin: 0 24px;
        transition: 0.2s;
    }

    .header.on .inner {
        height: 108px;
        transition: 0.2s;
    }

    .header .inner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* r */
    .header .inner .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        transform: rotate(0);
        width: 100%;
        height: 100vh;
        padding: 300px 80px;
        background: rgba(87, 105, 110, 0.5);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        transition: 0.5s;
    }

    .header .inner .gnb.on {
        left: 0;
        background: rgba(87, 105, 110, 0.5);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .header .inner .gnb>ul {
        display: flex;
        gap: 30px;

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);

        /* r */
        flex-direction: column;
        gap: 16px;
        position: static;
        left: 0;
        bottom: 0;
        transform: translate(0, 0);
    }

    .header .inner .gnb>ul>li {
        font-size: 15px;
        line-height: 16px;
        color: #fff;
        /* r */
        position: relative;
        font-size: 16px;
        line-height: 40px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    }

    .header .inner .gnb>ul>li:nth-child(1)::after {
        content: "sunglasses";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(2)::after {
        content: "glasses";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(3)::after {
        content: "collaboration";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(4)::after {
        content: "style";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(5)::after {
        content: "brand-issue";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(6)::after {
        content: "store-view";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    /* r */
    .header .inner .gnb>ul>li>a {
        display: inline-block;
        width: 100%;
    }

    .header .inner .serch_icon {
        margin-right: auto;

        /* r */
        display: none;
    }

    .header .inner .utils {
        margin-left: auto;
        display: flex;
        gap: 30px;

        /* r */
        display: none;
    }

    /* r */
    .mopen {
        display: block;
        position: fixed;
        top: 49px;
        font-size: 0;
        left: 20px;
        width: 32px;
        height: 32px;
        z-index: 9999;
        cursor: pointer;
        transition: 0.2s;
    }

    .header.on .mopen {
        top: 38px;
        transition: 0.2s;
    }

    .mopen button::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
    }

    .mopen.on button::before {
        display: none
    }

    .mopen button::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
    }

    .mopen.on button::after {
        display: none
    }

    .mopen button span::before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
        transition: 0.2s;
    }

    .mopen.on button span::before {
        transform: rotate(45deg);
    }

    .mopen button span::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
        transition: 0.2s;
    }

    .mopen.on button span::after {
        transform: rotate(135deg);
    }
}

@media (max-width:480px) {
    .header {
        position: absolute;
        width: 100%;
        z-index: 1002;

        /* r */
        position: fixed;
        transition: 0.2s;
    }

    /* r */
    .header.on {
        background: #57696E;
        transition: 0.2s;
    }

    .header .inner {
        position: relative;

        max-width: 1410px;
        margin: 0 auto;
        height: 130px;

        display: flex;
        align-items: center;

        /* r */
        margin: 0 24px;
        transition: 0.2s;
    }

    .header.on .inner {
        height: 80px;
        transition: 0.2s;
    }

    .header .inner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* r */
    .header .inner .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        transform: rotate(0);
        width: 100%;
        height: 100vh;
        padding: 300px 40px;
        background: rgba(87, 105, 110, 0.5);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        transition: 0.5s;
    }

    .header .inner .gnb.on {
        left: 0;
        background: rgba(87, 105, 110, 0.5);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .header .inner .gnb>ul {
        display: flex;
        gap: 30px;

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);

        /* r */
        flex-direction: column;
        gap: 16px;
        position: static;
        left: 0;
        bottom: 0;
        transform: translate(0, 0);
    }

    .header .inner .gnb>ul>li {
        font-size: 15px;
        line-height: 16px;
        color: #fff;
        /* r */
        position: relative;
        font-size: 16px;
        line-height: 40px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    }

    .header .inner .gnb>ul>li:nth-child(1)::after {
        content: "sunglasses";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(2)::after {
        content: "glasses";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(3)::after {
        content: "collaboration";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(4)::after {
        content: "style";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(5)::after {
        content: "brand-issue";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header .inner .gnb>ul>li:nth-child(6)::after {
        content: "store-view";
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    /* r */
    .header .inner .gnb>ul>li>a {
        display: inline-block;
        width: 100%;
    }

    .header .inner .serch_icon {
        margin-right: auto;

        /* r */
        display: none;
    }

    .header .inner .utils {
        margin-left: auto;
        display: flex;
        gap: 30px;

        /* r */
        display: none;
    }

    /* r */
    .mopen {
        display: block;
        position: fixed;
        top: 49px;
        font-size: 0;
        left: 20px;
        width: 32px;
        height: 32px;
        z-index: 9999;
        cursor: pointer;
        transition: 0.2s;
    }

    .header.on .mopen {
        top: 24px;
        transition: 0.2s;
    }

    .mopen button::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
    }

    .mopen.on button::before {
        display: none
    }

    .mopen button::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
    }

    .mopen.on button::after {
        display: none
    }

    .mopen button span::before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
        transition: 0.2s;
    }

    .mopen.on button span::before {
        transform: rotate(45deg);
    }

    .mopen button span::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 4px;
        right: 4px;

        height: 2px;
        background: #fff;
        transition: 0.2s;
    }

    .mopen.on button span::after {
        transform: rotate(135deg);
    }
}

.main_visual {
    position: relative;
    z-index: 1;
}

.main_visual .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.4);

    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);*/

}

.main_visual .itm {
    height: 100vh;
}

.main_visual .itm01 {
    background: url(../images/main_visual.jpg) no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.main_visual .itm .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    z-index: 999;
}

.main_visual .itm strong {
    position: relative;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    word-break: keep-all;

    color: #fff;
}

.main_visual .itm p {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    word-break: keep-all;

    color: #fff;

    margin-top: 24px;
}

.main_visual .itm p::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 138px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

.main_visual .scroll {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
    z-index: 2;

    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 3px;

    color: #fff;
}

.main_visual .scroll::after {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1px;
    height: 32px;
    background: rgba(255, 255, 255, 0.4);
}

.main_product {
    padding: 120px 0;
}

.main_product .title {
    text-align: center;
}

.main_product .title h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;

    margin-bottom: 16px;
}

.main_product .title p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    letter-spacing: -0.3px;

    margin-bottom: 32px;
}

.main_product .inner {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.main_product .slide_wrap {
    position: relative;
}

.main_product .slide_wrap a img {
    width: 100%;
}

.main_product .slide_wrap .txt_area {
    padding: 16px 8px;
    border-bottom: 1px solid #f7f8f9;
    text-align: center;
}

.main_product .slide_wrap .txt_area strong {
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.3px;

    margin-bottom: 8px;
}

.main_product .slide_wrap .txt_area span {
    position: relative;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.3px;
}

.main_product .slide_wrap .txt_area span::before {
    position: absolute;
    top: 50%;
    left: -8px;
    content: "";
    width: 4px;
    height: 4px;
    background: #ddd;
    border-radius: 50%;
}

.main_product .slide_wrap .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 1320px;

    z-index: 3;
}

.main_product .slide_wrap .arrows button {
    position: absolute;
    transform: translate(0, -50%);
}

.main_product .slide_wrap .arrows .prev {
    top: -25px;
    left: 0;
}

.main_product .slide_wrap .arrows .next {
    top: -25px;
    right: 0;
}

.main_banner {
    position: relative;
    height: 400px;
    background: url(../images/main_banner.jpg) fixed center center/cover;
}

.main_banner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_banner .inner .bann_logo img {
    height: 32px;
}

.main_collection {
    padding: 120px 0;

    max-width: 1170px;
    margin: 0 auto;

}

.main_collection .title h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;

    margin-bottom: 16px;

    letter-spacing: -0.3px;
}

.main_collection .title p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;

    margin-bottom: 32px;

    letter-spacing: -0.3px;
}

.main_collection .inner {
    display: flex;
    gap: 30px;
}

.main_collection .inner .itm .model figure {
    margin-bottom: 24px;
}


.main_collection .inner li {
    display: flex;
    gap: 16px;

    padding-bottom: 16px;
}


.main_collection .inner .itm .list .desc {
    padding-top: 8px;
}


.main_collection .inner .itm .list .desc .cate {
    position: relative;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    color: #777;
}

.main_collection .inner .itm .list .desc .cate::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 254px;
    background: rgba(0, 0, 0, 0.1);

    bottom: -50%;
}



.main_collection .inner .itm .list .desc .tit strong {
    display: inline-block;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;

    letter-spacing: -0.3px;

    padding-top: 16px;
}

.main_collection .inner .itm .list .desc .tit span {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;

    color: #777;

    padding-left: 8px;
}

.main_collection .inner .itm .list .desc .price {
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;

    padding-top: 8px;

    letter-spacing: -0.3px;
}

.main_banb .inner {
    display: flex;
}

.main_banb .inner>* {
    flex: 1;
}

.main_banb .inner .itm {
    position: relative;
    padding: 40px;
    border-right: 1px solid #d9d9d9;
}

.main_banb .inner .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.main_banb .inner .itm01 {
    background: url(../images/pop.png) no-repeat center center/cover;
}

.main_banb .inner .itm02 {
    background: url(../images/haus.png) no-repeat center center/cover;
}

.main_banb .inner .itm .txt_area {
    position: relative;
    padding: 140px 0;
    text-align: center;
}

.main_banb .inner .itm .txt_area strong {
    display: block;

    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.3px;
    color: #fff;
    text-shadow: 0 0 5px #555;

    margin-bottom: 40px;
}

.main_banb .inner .itm button {
    position: relative;
    padding: 8px 16px;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 2px solid #fff;
    border-radius: 12px;
}

.main_banb .inner .itm a {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: #fff;
    text-shadow: 0 0 5px #555;
}

.footer {
    background: #57696E url(../images/footer_logo.png) no-repeat center center/cover;
}


.footer .ft .inner {
    max-width: 1410px;
    margin: 0 auto;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer .ft .inner .customer {
    display: flex;
    gap: 30px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    color: #fff;

}

.footer .ft .inner .sns {
    display: flex;
    gap: 16px;
}

.footer .fb .inner {
    position: relative;
    max-width: 1410px;
    margin: 0 auto;
    padding: 24px 0;
}

.footer .fb .txt {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;
}

.footer .fb .copy {
    position: absolute;
    bottom: 24px;
    right: 0;
}

.footer .fb .copy address {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;

    color: #fff;
}